.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}

.score-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #FFF;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    width: min-content;
    height: 350px;
    padding: 1rem;
    background-color: #500a0a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #FFF;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #1a6304;
    color: white;
    transform: scale(1.2);
}

.card__image {
    max-width: 265px;
    max-height: 265px;
    border-radius: 15px;
    margin: 7px;
    margin-bottom: 20px;
    user-select: none;
}

.card__name {
    font-size: 1.2rem;
    font-weight: bold;
}